body {
    box-sizing: border-box;
    max-width: 100vw;
    font-family: "Lato", sans-serif;
    overflow-x: scroll;
}

.nbkBtn button {
  padding: 14px 20px;
  border: 2px solid;
  cursor: pointer;
  width: 200px;
  border-radius: 4px;

}

.nbkBtn a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}

.nbkBtn button:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
  
.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: rgb(31, 31, 31);
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  p {
    color: #575757;
    margin-left: 20px;
  }

  code {
    padding: 1px;
    border: 1.5px solid #cbcbcbaf;
    background-color: #6b6b6b;
    color: rgb(31, 31, 31);
    border-radius: 5px;
  }

  hr {
    border-color: #262626;
  }

  @media screen and (max-width: 600px) {
    .sidenav {
        width: 100%; /* Make the sidenav full-width on mobile devices */
        padding-top: 1em;
    }

    .sidenav a, .dropdown-btn {
        padding: 0.5em 1em;
        font-size: 1.2em;
    }

    .dropdown-container {
        padding-left: 1em;
    }

    body {
        width: 100%;
    }
}